<% items.each do |item| %>

	<div class="col-xs-3">
		<%= link_to item_path(item.id), class: "btn-link", :style=>"color:0099FF;" do %>
			<span id="img_field" class="item">
				<%= attachment_image_tag(item, :image, size: "180x130", fallback: "no_image.jpg") %>
			</span>
			<p>
				<%= item.name %>
			</p>
			<% if item.is_active == "Availble" %>
				<p>
					¥<%= item.including_tax.to_s(:delimited) %>
				</p>
			<% elsif item.is_active == "Invalid" %>
      	<p class="soldout">売り切れ中</p>
      <% end %>
		<% end %>
	</div>
<% end %>
