<% provide(:title, "サイトについて") %>

<div class="about container">
  <div class="title">About</div>
    <h3>
              míllureからはじまる新たなstory
        
        先入観や大人の価値観から解き放たれた時、
        まだ知らない新たなstoryが始まる
        
        物語りの主人公はいつだってわたし
        
                   mí × allure = míllure
        
        新たな『わたしの魅力』を引き出すという
        想いを込めて姉妹で立ち上げたブランドです。
        
        míllureはアクセサリーを通し多彩なstoryをご提案いたします

    </h3>
        <!--<img src="/assets/food-3060458_1920.jpg" width="470" height="300">-->
</div>
