<% provide(:title, "トップ") %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="wrap">
        <%= video_tag("/videos/jewelry1.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
          <div class="header-title">
            <p>
              míllure(ミリュール)からはじまる新たなstory...<br>
              <br>
              先入観や大人の価値観から解き放たれた時、<br>
              まだ知らない新たなstoryが始まる<br>
              物語の主人公はいつだってわたし<br>
              mí × allure = míllure<br>
            </p>
          </div>
        </div>
    </div>
  </div>

  <div class="row">

     <a href="/rank">
       <h4 class="toppage-head">top seller</h4>
     </a>

        <!-- 商品を入れる -->
        <%#= render "item_each", items: @items %>
  </div>
  <div class="row">
      <h4 class="toppage-head">new collection</h4>
        <!--新しく追加されたアクセサリーを入れる-->
        <%= render "item_each", items: @items %>
  </div>
    <%= link_to "more ", items_path, class: "btn-link  pull-right" %>

</div>

